<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caring Generations</title>
</head>
<body>

</body>
<header>
    <div>
        <h1>Caring Generations</h1>
        <a  href="" ng-click="clickToOpen()">Sign in | </a>
        <!--    <button ng-click="clickToOpen" class="button button--secondary" title="Sign Up" tabindex="3">Sign Up</button>-->
        <a href="" ng-click="clickToOpenRegister()">Register</a>
    </div>


<form>
  <div>

             <h2>Please verify your email</h2>
                Once you verify your email address,
                you can get started in CareGen.

  </div>
</form>

</header>


</html>