<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Living Generations : invite handler</title>
</head>
<body>

    <h1 class="logo">Welcome to Living Connections, you are here because you have chosen to act on an Invitation from a Living Connetions user - Thank you!</h1>
    

     <form class="form" name="form">
        
        <input id ="email" type="email" data-ng-model="formData.email"  placeholder="Your email address" class="emailField" readonly>
         
         <br> Your Video Invite <br> <video ng-if="vid" width="320" height="240" id="message" controls src="{{vUrl}}"></video>
         
        <br> <button type="submit" id="submitButton" ng-click="handleInvite()" class="getStartedButton"> Get Started</button>
         
       
    </form>     
    
</body>
</html>