<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:url"                content="https://calm-thicket-20746.herokuapp.com/#/home" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Changing the way Care Giving is Managed" />
    <meta property="og:description"        content="LivingConnections is an App that is changing the way care is given and received. The vision is to build an internet-system for elder care. The app is being built with the firm belief that elder care needs to be managed better!" />
    <meta property="og:image"              content="https://calm-thicket-20746.herokuapp.com/images/LC.png" />
    <meta property="fb:app_id"              content="1093072224140701" />
    <meta charset="UTF-8">
    <title>Caring Generations</title>
<link rel="stylesheet" href="../../w3.css">
<link rel="stylesheet" href="../../w3-theme-teal.css">
<link rel="stylesheet" href="../../font-awesome.min.css">
    
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>    

</head>

<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1093072224140701', // Set YOUR APP ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true,  // parse XFBML
      version    : 'v2.8' // use graph api version 2.8
    });
    
    
  FB.Event.subscribe('auth.authResponseChange', function(response) 
  {
    
   if (response.status === 'connected') 
    {
      document.getElementById("message").innerHTML +=  "<br>Connected to Facebook";
      //SUCCESS
  
      getUserInfo();
      document.getElementById("fbLoginAs").hidden=false;
      document.getElementById("fbLoginContinue").hidden=false;
      
    }  
  else if (response.status === 'not_authorized') 
    {
      document.getElementById("message").innerHTML +=  "<br>Failed to Connect";

    //FAILED
    } else 
    {
      document.getElementById("message").innerHTML +=  "<br>Logged Out";
      document.getElementById("status").innerHTML="";
      document.getElementById("fbLoginAs").hidden=true;
      document.getElementById("fbLoginContinue").hidden=true;

      //UNKNOWN ERROR
    }
  }); 
  
    };
    
    function Login()
  {
  
    FB.login(function(response) {
       if (response.authResponse) 
       {
          getUserInfo();
          //angular.element(document.getElementById('login')).scope().handleFBLogin();
        } else 
        {
           console.log('User cancelled login or did not fully authorize.');
        }
     },{scope: 'email,user_photos,user_videos,user_likes,user_location,user_birthday,publish_pages'});
  
  
  }

  function getUserInfo() {
      FB.api('/me?fields=id,name,email,birthday', function(response) {

    var str="You are logged in to FaceBook as: "+response.name+"<br>";
        str +="<b>id: </b>"+response.id+"<br>";
        str +="<b>Email:</b> "+response.email+"<br>";
        str +="<b>Birthday:</b> "+response.birthday+"<br>";
        document.getElementById("status").innerHTML=str;
              
    });

      FB.api('/me/picture?type=normal', function(response) {

       var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
        document.getElementById("status").innerHTML+=str;
              
      });

    }
  
  function getPhoto()
  {
    FB.api('/me/picture?type=normal', function(response) {

      var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
        document.getElementById("status").innerHTML+=str;
              
    });
  
  }
  function LoginAs()
  {
    FB.logout(function(){
     FB.login(function(response) {
       if (response.authResponse) 
       {
         // angular.element(document.getElementById('login')).scope().handleFBLogin();
        } else 
        {
           console.log('User cancelled login or did not fully authorize.');
        }
     },{scope: 'email,user_photos,user_videos,user_likes,user_location,user_birthday,publish_pages'});
    });

     

  }

 function continueToLC () {
   
  angular.element(document.getElementById('login')).scope().handleFBLogin();

 }

function sendFBPost () {
 FB.ui({
  method: 'feed',
  name: 'Living Connections an exciting new app!',
  link: 'https://calm-thicket-20746.herokuapp.com/#/home',
  caption: 'Living Connections',
  description: 'Giving and receving care will never be the same!'
}, function(response){});
}

  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));


</script>   

<div class="w3-row" align="center">
     <div flex>
         <h3 class="Blue">Welcome to Living Connections</h3>
         <a  href="" ng-click="clickToOpen()" class="linkfont">Sign in | </a>
        <a href="" ng-click="clickToOpenRegister()" class="linkfont">Register</a>
     </div>
</div>      
<div class="w3-row" align="center">
<div flex id="login">
<table style="width:100%">
  <tr>
    <td><form class="form" name="form">
        <div>
        <input id ="email" type="email" ng-model="formData.email"  placeholder="Your email address" class="emailField" required>
            
        <button type="submit" ng-disabled="form.$invalid || dataLoading" ng-click="buttonClick()" class="getStartedButton">Get Started</button>
        </div>    
</form></td>
  </tr>
  <tr>
    <td ng-if="vid">Your Video Invite <br> <video ng-if="vid" width="320" height="240" id="message" controls src="{{vUrl}}"></video> </td>
  </tr>
<tr>
<td>
<div id="status">
</div>
</td>      
</tr> 
<tr>
<td>      
<button id="fbLoginContinue" hidden=true class="btn btn-primary  btn-large" onclick="continueToLC()">Continue With Current FaceBook Login</button>   
<button id="fbLoginAs" hidden=true class="btn btn-primary  btn-large" onclick="LoginAs()">Login As Another User</button>
<button id="sendFBPost" class="btn btn-primary  btn-large" onclick="sendFBPost()">Send FB Post</button>
</td>
</tr>  
<tr><td>
  
  <fb:login-button scope="email,user_photos,user_videos,user_likes,user_location,user_birthday,publish_pages" data-auto-logout-link="true" data-auto-logout-link="true">
</fb:login-button>

</td></tr>   
</table>    
</div>
<br> 
             
   
</div>    
      
<div id="fb-root"></div>
 
<div id="message">
Events:<br/>
</div>


</body>
</html>