<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invitation</title>
</head>
<body>
<script>
  function ValidateEmail()   
{  

//alert(form.sender.value);

var senderEmailid = document.querySelector("input#sender").value;
var receiverEmailid = document.querySelector("input#emailInput").value;    

alert(senderEmailid + " " + receiverEmailid);
    
 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(receiverEmailid))  
  {    
      if (senderEmailid == receiverEmailid) {
          alert('you cannot send an invitation to yourself.');
      }
      else {
      document.querySelector('button#sendInvite').click();
      return (true)
     }  
  }  
    else {
    alert("You have entered an invalid email address!");
    form.emailInput.focus();
    form.emailInput.select();
    return (false) 
 }    

}
</script>    
    
<div data-ng-controller="MainController">
    
   
    
    <form name="form" role="form">
    <label>Invite someone to connect with you</label>
    <div>
         <input value="{{userEmailId}}" id="sender" name="sender" hidden="true"> 
        Email address <br>
        <input id ="emailInput" name="emailInput" type="email" data-ng-model="formData.receiverEmailid"  placeholder="Enter email id" class="emailField" required>
        <button type="Continue" ng-disabled="dataLoading" ng-click="closeThisDialog('Some value')" class="getStartedButton">Close</button>
        <button type="Continue" ng-disabled="dataLoading" onClick="ValidateEmail()" class="getStartedButton">Continue</button>
        
        <button type="Continue" id="sendInvite" hidden="true" ng-disabled="dataLoading" ng-click="promptVideo(form.emailInput.value)" class="getStartedButton">Send Invite</button>

    </div>
    </form>
</div>
</body>
</html>