<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="angular-material.css">
    <link href="../../bootstrap.css" rel="stylesheet"> -->

<link rel="stylesheet" href="../../w3.css">
<link rel="stylesheet" href="../../w3-theme-teal.css">
<link rel="stylesheet" href="../../font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
 
  
    <title>Caring Generations</title>
    
<style>
growl-notifications {
    position: fixed;
    top: 150px;
    right: 10px;
    z-index: 1000;
}

growl-notifications growl-notification {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px 30px;
    width: 400px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}

   
</style>
<script>
    // Load the SDK asynchronously
window.fbAsyncInit = function() {
    FB.init({
      appId      : '1093072224140701', // Set YOUR APP ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true,  // parse XFBML
      version    : 'v2.8' // use graph api version 2.8
    });
  }  
function sendFBPost () {

alert('opening FB UI Dialog');

 FB.ui({
  method: 'feed',
  name: 'Living Connections an exciting new app!',
  link: 'https://developers.facebook.com/docs/',
  caption: 'Living Connections',
  mobile_iframe: true,
  description: 'Giving and receving care will never be the same!'
}, function(response){
    console.log('could not launch');
    console.log(response);
});
}

function newWindow () {
    //var url = 'https://www.facebook.com/dialog/feed?app_id=1093072224140701&name=Living%20Connections%20an%20Exciting%20new%20App&caption=Living%20Connections&link=https%3A%2F%2Fcalm-thicket-20476.herokuapp.com%2F#%2Fhome&picture=https://calm-thicket-20476.herokuapp.com/images/LC.png&redirect_uri=';
 
    var url = 'https://www.facebook.com/dialog/feed?app_id=1093072224140701&link=https://calm-thicket-20746.herokuapp.com/%23/home&picture=https://calm-thicket-20746.herokuapp.com/images/ls.jpg&name=Living%20Connections&caption=Living%20Connections& description=An%20Exciting%20new%20app%20that%20will%20change%20Elder%20Care&display=popup';
    

    window.open(url,'_blank','height=200,width=200,toolbar=no,location=no');
}

(function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

function playSound() {


    document.getElementById('xyz').play();


}


</script>    
</head>
<body>
<growl-notifications></growl-notifications>
    
<div class="w3-row w3-yellow">
<header>
        <h1>Caring Generations</h1>
    </header>
</div>    

<audio id="xyz" src="../../sounds/textalert.wav" preload="auto"></audio>

<div class="w3-row">
     <div flex>
         <h3 class="Blue">  Welcome {{userName}} </h3> 
         <image ng-if="userphoto" ng-src="{{userphoto}}" style="width:100px;height:100px;border:0;" class="w3-hover-opacity"></image>
          <button ng-if="userphoto" class="w3-btn w3-blue w3-hover-red  w3-ripple" onclick="newWindow()">Share on FaceBook</button>
          <button type="submit" class="w3-btn w3-blue w3-hover-red  w3-ripple" ng-click="logoutClick()">Logout</button>
     </div>
</div>    


<br>

<div class="w3-row">
<button class="w3-btn w3-blue w3-hover-red  w3-ripple" ng-click="MessagesClick()">You have <i>{{ (receivedMessages | filter:'unread').length }} </i> unread messages - Click to View/Send Messages</button>
<button class="w3-btn w3-blue w3-hover-red  w3-ripple" ng-click="viewAllNotifications()">View all notifications</button>    
</div>
    
    
<br>    
    
<div class="w3-row">
        <div class="w3-col w3-container l4 w3-card" style="height:400px">
         <header class="w3-container w3-blue">
             <h5>Your Connections</h5>
         </header>   
         
          
         <table class="w3-table-all" style="height:300px">
           <tr ng:repeat="x in connectionsID |  filter: { primaryEmailid : userEmailId} ">
           <td> {{x.name}}</td>
           <td ng-if="userphoto"> <image ng-if="userphoto" ng-src="{{x.profilepic}}" style="width:100px;height:100px;border:0;" class="w3-hover-opacity"></image></td>
           </tr>  
         </table>    
        
        <button class="w3-btn w3-blue" ng-click="addConnectionsClick()">Add a new connection</button>
        </div>
        
        <div class="w3-col w3-container l5 w3-card" style="height:400px">
        <header class="w3-container w3-blue">
             <h5>Your Invitations</h5>
         </header>      
        <table class="w3-table-all" style="height:150px">
        <thead>
        <td ng-if="(sentInvitationID).length > 0"> Sent Invitations</td>
        <td ng-if="(sentInvitationID).length > 0"> Status </td>  
        <td ng-if="(sentInvitationID).length > 0"> Actions </td>      
        </thead>    
        <tr ng:repeat="i in sentInvitationID">
          <td>{{i.receiverEmailid}}</td>
          <td>{{i.invitestatus}}</td>
          <td ng-if="i.invitestatus=='open'"><button class="w3-btn w3-medium w3-blue w3-hover-red  w3-ripple" ng-click="cancelInvitationClick(i.id)"><i class="fa fa-close"></i></button><button class="w3-btn w3-medium w3-blue w3-hover-red  w3-ripple" ng-click="resendInvitationClick(i.receiverEmailid)"><i class="fa fa-refresh"></i></button></td>
          <td ng-if="i.invitestatus=='Cancelled'"><button class="w3-btn w3-medium w3-blue w3-hover-red  w3-ripple" ng-click="deleteInvitationClick($index)"><i class="fa fa-trash"></i></button></td>    
        </tr>    
        </table>    
        <table class="w3-table-all" style="height:150px">
        <thead>
          <td ng-if="(receivedInvitationsID).length > 0">
              Received Invitations
          </td>
        </thead>    
             <tr ng:repeat="i in receivedInvitationID">
            <td>You have been invited by  {{i.name}}.</td>
            <td><button type="submit" ng-click="acceptInvitationClick($index)" class="logoutButton">Accept</button></td>
            <td><button type="submit" ng-click="ignoreInvitationClick($index)" class="logoutButton">Ignore</button></td>

        </tr>
        </table>     
        </div>
        
        <div class="w3-col w3-container l3 w3-card" style="height:400px">  
        <header class="w3-container w3-blue">
            <h5>Messages </h5>
         </header> 
        <table class="w3-table w3-striped w3-border w3-small" style="min-width:250px">
            <thead>  
             <tr class="w3-blue">
              <td>From</td>
              <td>Status</td> 


             </tr>
            </thead>
             <tr ng:repeat="x in receivedMessages" class="w3-hover-grey">     
             <td><image ng-src="{{x.vMessageThumb}}" style="width:100px;height:100px;border:0;" ng-click="videoView(x.vMessageURL, x.id)" class="w3-hover-opacity"></image></td>    

             <td ng-if="x.status=='unread'" class="w3-red">{{x.status}}</td> 
             <td ng-if="x.status=='read'" class="w3-teal">{{x.status}}</td>      

             </tr>    
        </table>       
        </div>

    <div ng-repeat="x in notifications | filter: { notificationType : 'Message'}" ng-init='playAudio()'>
        <growl-notification ttl="10000">
        New Video Message from {{x.senderName}} 
        
        </growl-notification>
   </div>
<div ng-repeat="x in notifications | filter: { notificationType : 'Invite'}" ng-init='playAudio()'>
        <growl-notification ttl="10000">
        New Invitation from {{x.senderName}} 
        </growl-notification>
</div>
<div ng-repeat="x in notifications | filter: { notificationType : 'Rejection'}" ng-init='playAudio()'>
        <growl-notification ttl="10000">
        Your Invitation has been rejected by {{x.senderName}} 
        </growl-notification>
</div>
<div ng-repeat="x in notifications | filter: { notificationType : 'cancelled'}" ng-init='playAudio()'>
        <growl-notification ttl="10000">
         {{x.senderName}} Has cancelled invitation
        </growl-notification>
</div>    
<div ng-repeat="x in notifications | filter: { notificationType : 'Connection'}" ng-init='playAudio()'>
        <growl-notification ttl="10000">
            Your are now connected to {{x.senderName}}   
        </growl-notification>
</div>    
    
</div>    

<div id="fb-root"></div>

</body>
</html>