header{
    background-color:#003d99;
    text-align:center;
    padding:15px 32px;
    font-style:italic;
    font-size: 25px;
}

body{
    background-color:beige;
    padding:5px;
}

p{
    color:black;
    text-align:left;
    height: 10cm;
    padding:15px 32px;
    font-size: 15px;
}

.signInButton{
    background-color: #8dbdf1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.getStartedButton{
    background-color:#004f99;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.emailField{
    border: none;
    padding: 8px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.container {
    width: 60%;

    margin-left: auto;
    margin-right: auto;
    background-color: #003d99;
    color: #004f99;
    text-align:center;
    padding-bottom: 2%;
    background-image: url("images/background1.png");
    background-position: 100%;
}

.logo {
    color:#b3d1ff;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
    line-height: 2em;
    font-size: 30px;
    font-style:italic;
}

.ContainerFields{
    text-align: left;
    width: 60%;
    margin: 2% 50%;
}

.linkfont{
    color:#b3d1ff;
}

.homefields{

    width: 60%;
    margin: 25% 1%;
}

.RegisterFields{
    text-align: left;
    width: 60%;
    margin: 2% 40%;
}